<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table, th, td {
      border: 1px solid black;
    }
    th {
      text-align: center;
    }
    td {
      text-align: right;
    }
    </style>
    <title>Table Results</title>
</head>
<h2>User Login</h2>
<form action="{{url}}" method="POST">
  <label for="sortBy">Sort By</label>
  <input type="text" name="sortBy" required>
  <button type="submit">Sort It!</button>
</form>
<table style="width:auto">
  <tr>
    {% for name in headers %}
    <th> {{name}} </th>
    {% endfor %}
  </tr>
{% for row in data %}
<tr>
  {% for column in row %}
    <td>{{column}}</td>
  {% endfor %}
</tr>
{% endfor %}
</table>
