<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>

    <h2>User Login</h2>
    <form action="{{url}}" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" required>

      <label for="password">password</label>
      <input type="password" name="password" required>

      <button type="submit">Login</button>
    </form>
    <h2>History</h2>
    <table border = 1>
      <tr>
         <th> username </th>
         <td> password </td>
      </tr>
         {% for key, value in result %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>
  </body>
</html>
